// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// added by me
.custom-box {
  background: orange;
  padding: 20px;
  font-size: 1.5rem;
}
div.videowrapper {
    display: flex;
    flex-flow: row wrap;
  }
  
.video {
  flex: 1 33.3%;
  margin: 0;
  aspect-ratio: 16/9;
  min-width: 150px;
  max-width: 400px;
}

.video iframe {
    height: 100%;
    width: 100%;
    border: none;
}